{% extends 'base.html' %}

{% load articleinfo %}
{% get_bloger as admin %}

{% block menu_box %}
<div id="menu-box"><a href="javascript:void(0)" id="menu" data-activates="slide-out" class="button-collapse menu"><span class="nav-btn back"></span></a></div>
{% endblock menu_box %}

{% block article_content %}
<div id="content-outer">
  <div id="content-inner">

<article id="post">
  <div class="post-page-title" style="background-color:#26A69A;background-image:url({{ MEDIA_URL }}{{ article_detail.image }})">
  <h2>{{ article_detail.title }}</h2>

  <p>作者:{{ admin.nickname }} &nbsp;&nbsp; 发布于:<time datetime="">
          {{ article_detail.create_time | date:"Y-m-d H:i:s" }}
    </time>
  </p>

  </div>
  <div class="post-page-content">
	{% autoescape off %}
	{{ article_detail.content }}
	{% endautoescape off %}
  </div>

  <!--PC和WAP自适应版-->
  <div id="SOHUCS" style="padding:10px;" sid={{ article_detail.id }}></div>
  <script type="text/javascript">
  (function(){
  var appid = 'cytaiCTiY';
  var conf = 'prod_961833fadebe00c03cd0def80d4f0af1';
  var width = window.innerWidth || document.documentElement.clientWidth;
  if (width < 960) {
  window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("https://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })();
  </script>

</article>
<nav class="post-nav">
  <!-- Prev Nav -->
	{% if pre_id|is_greate:"0" %}
	<a href="{% url 'blog:article_detail' pre_id %}" id="post_nav-newer" class="post-nav-content prev-content">
	  新篇
	</a>
	{% endif %}

  <!-- Next Nav -->
  {% if next_id|is_greate:"0" %}
  <a href="{% url 'blog:article_detail' next_id %}" id="post_nav-older" class="post-nav-content next-content">
      旧篇
  </a>
  {% endif %}

</nav>

<!--<div class="post-back"><i class="material-icons">arrow_back</i></div>-->
<script type="text/javascript">
    menu();
</script>
  </div>
</div>
{% endblock article_content %}
