<!DOCTYPE html>
{% load staticfiles %}
{% load articleinfo %}

{% get_bloger as admin %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>可可西里没有海</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width,inital-scale=1,maximum-scale=1.0,user-scalable=no,minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- 百度统计 -->
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?c0451e16533956173997b85f7a8de666";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>

    <div class="container">
        <div class="cover-img" style="background: url(http://oct3pmpde.bkt.clouddn.com/wall-39.jpg) no-repeat fixed center center"></div>
        <div class="header">
            <img class="avator" src="{{ MEDIA_URL }}{{ admin.avator }}">
            <nav>
                <ul class="list">
                    <span>soowhat</span>
                    <li><a href="{% url 'blog:home' %}" class="animsition-link website-title" target="" title="博客页"> | 可可西里没有海's blog</a></li>
                    <li><a href="{% url 'blog:home' %}" class="icon-twitter" target=""><i class="fa fa-home" aria-hidden="true" title="博客页"></i></a></li>
                    <li><a href="https://github.com/JustBreaking" class="icon-github" target="_blank"><i class="fa fa-github" aria-hidden="true" title="github"></i></a></li>
                    <li><a href="javascript:void(0)" class="icon-weixin" target="_blank"><i class="fa fa-weixin" aria-hidden="true" title="微信"></i></a></li>
                    <li><a href="http://weibo.com/u/2865881871" class="icon-weibo" target="_blank"><i class="fa fa-weibo" aria-hidden="true" title="微博"></i></a></li>
                    <li class="nolink">
                        <span class="welcome"> Welcome to my website!</span>
                    </li>
                    <img class="codeimg" src="{% static 'images/weixin.jpg' %}">
                </ul>
            </nav>
        </div>
        <div class="section" id="home">
            <p class="glad">剑未佩妥，出门已是江湖
            <p class="glad">酒尚余温，入口不识乾坤</p>
        </div>
    </div>
    <!--移动端-->
    <div id="wrapper">
        <h1>可可西里没有海</h1>
        <h2>永远相信美好的事情即将发生</h2>
        <p><a href="{% url 'blog:home' %}" target="_blank">Blog</a></p>
        <p><a href="https://github.com/JustBreaking" target="_blank">Github</a></p>
        <p><a href="http://music.163.com/#/user/home?id=37479888" target="_blank">网易云音乐</a></p>
        <p><a href="http://weibo.com/justbreaking" target="_blank">微博</a></p>
    </div>
<script>
    var weixin = document.querySelector(".icon-weixin");
    var codeimg = document.querySelector(".codeimg");
    var changeimg = document.querySelector(".avator");
    var cover = document.querySelector(".cover-img");
    var imgbox =   ["http://oct3pmpde.bkt.clouddn.com/wall-388.jpg",
                    "http://oct3pmpde.bkt.clouddn.com/wall-39.jpg",
                    "http://oct3pmpde.bkt.clouddn.com/wall-724.jpg",
                    "http://oct3pmpde.bkt.clouddn.com/wall-303.jpg",
                    "http://oct3pmpde.bkt.clouddn.com/wall-585.jpg",
                    "http://oct3pmpde.bkt.clouddn.com/wall-427.jpg",
                    "http://oct3pmpde.bkt.clouddn.com/wall-32.jpg",
                    "http://oct3pmpde.bkt.clouddn.com/wall-722.jpg",
                    "http://oct3pmpde.bkt.clouddn.com/wall-171.jpg",
                    "http://oct3pmpde.bkt.clouddn.com/wall-1.jpg",
                    "http://oct3pmpde.bkt.clouddn.com/wall-456.jpg"
    ];
    weixin.addEventListener('mouseover',function () {
        codeimg.style.display = "block";
    });
    weixin.addEventListener('mouseout',function () {
        codeimg.style.display = "none";
    });
    changeimg.addEventListener('click',function(){
        var index = Math.floor((Math.random()*imgbox.length));
        var temp = 'url(' + imgbox[index]+ ') no-repeat fixed center center';
        cover.style.background = temp;
    });

</script>
</body>
</html>
